body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
}

nav {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

label {
  display: block;
  margin: 1em 0;
}

input,
textarea,
button {
  font: inherit;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 8em;
}

section {
  margin: 2rem 0;
}

article {
  margin: 1rem 0;
}