body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

label {
  display: block;
  margin: 1em 0;
}

input,
textarea,
button {
  font: inherit;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 8em;
}

section {
  margin: 2rem 0;
}

article {
  margin: 1rem 0;
}