
body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
}

nav {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a:hover,
nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

html {
  color-scheme: light dark;
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

input,
textarea,
button,
select {
  font: inherit;
}

img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 8em;
}

button {
  grid-column: 1 / -1;
}

section {
  margin: 2rem 0;
}

article {
  margin: 1rem 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

section > header {
  border-bottom: 2px solid oklch(80% 3% 200);
  margin-bottom: 1rem;
}

section h2 {
  margin-bottom: 0.5rem;
}

article h3 {
  margin-bottom: 0.2rem;
}

time {
  color: dimgray;
  font-style: italic;
}

ul {
  padding-left: 1.5rem;
}

#profile-stats {
  margin: 2rem 0;
}

.github-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem 2rem;
  margin: 0;
}

.github-stats dt {
  grid-row: 1;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #6b7280;
  font-weight: 600;
}

.github-stats dd {
  grid-row: 2;
  margin: 0;
  font-size: 2rem;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.chart-container {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-block: 2em;
}

#projects-pie-plot {
  max-width: 20em;
  overflow: visible;
}

.legend {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 0.75em 1.25em;
  border: 1px solid oklch(80% 3% 200);
  padding: 1em;
  margin: 0;
  list-style: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  display: inline-block;
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
}

.searchBar {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-block: 1.5em;
  padding: 0.75em 1em;
  border: 1px solid oklch(80% 3% 200);
  border-radius: 0.5em;
}